.numbers__heading {
  @include heading;
}

.numbers__list {
  @include list-reset;
}

.numbers__title {
  font-family: "Circe Extra-Bold", "Arial", sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 45.9px;
  text-transform: uppercase;
}

.numbers__description {
  font-size: 23px;
  font-weight: 400;
}