.subscribe {
  color: $white;
  background-color: $black;
  background-image: url('../img/bg-subscribe.jpg');
  background-position: center;
  text-align: center;
  padding-top: 59px;
  padding-bottom: 95px;
}

.subscribe__wrapper {
  @include wrapper;
}

.subscribe__heading {
  font-family: "Circe Extra-Bold", "Arial", sans-serif;
  font-size: 37px;
  font-weight: 400;
  letter-spacing: 0.23px;
  line-height: 34px;
  margin-bottom: 50px;
}

.subscribe__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
  padding-left: 90px;
  padding-right: 90px;
  margin-bottom: 60px;
}

.subscribe__button {
  @include button;
  font-size: 22px;
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 0.14px;
}