$white: #ffffff;
$grey: #333333;
$black: #000000;
$button-bg-color: #e62565;
$bg-color: #fdfdfd;

$mobile_width: 320px;
$break_tablet: 660px;
$break_desktop: 1100px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$fields: 10px;
$fields_tablet: 15px;
$fields_desktop: 20px;
