.main-menu__list {
  @include list-reset;
  display: flex;
}

.main-menu__link {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  padding: 5px 9px 5px 10px;
  letter-spacing: -0.5px;
  
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}