.social__list {
  @include list-reset;
  display: flex;
}

.social__item {
  margin-right: 9px;
  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  color: $white;
  &:hover,
  &:focus {
    color: red;
  }
  
  svg {
    width: 20px;
    height: 20px;
  }
}